<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469858962896-3q01bn4edtg6ur07of6920enj0n3iec6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469858962896-3q01bn4edtg6ur07of6920enj0n3iec6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469858962896-rhn0jg1uai76p2jncsb80qqgi401kiou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWjybG6PhaK8D9io7NIKoPLnDMUdUC0es</string>
	<key>GCM_SENDER_ID</key>
	<string>469858962896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tillchen.JStore</string>
	<key>PROJECT_ID</key>
	<string>jstore-3bf68</string>
	<key>STORAGE_BUCKET</key>
	<string>jstore-3bf68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469858962896:ios:de222e52f5409c521dbdd5</string>
	<key>DATABASE_URL</key>
	<string>https://jstore-3bf68.firebaseio.com</string>
</dict>
</plist>